<!DOCTYPE html>
<html>
<head>
    <style>
      .center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }
        button {
            padding: 10px 20px;
            margin-top: 20px;
        }
        p {text-align: center;}
    </style>
</head>
<body>
    <div class="center">
        <h1>Welcome to our task where we focus on questions about creativity</h1>
        <form method="POST">
            <p>Eminent psychologist Ellis Paul Torrance created a <a href="https://en.wikipedia.org/wiki/Torrance_Tests_of_Creative_Thinking">test</a> for creativity focusing on divergent thinking scored on four scales of <b style="color:blue;"> 1) Fluency 2) Flexibility 3) Originality 4) Elaboration</b>. As a creative professional you have some ideas about what it means to be creative. Creativity is often subjective and hard to define and even harder to measure empirically.
            To tackle this we want you to participate in this survey which will take 60-90 mins approximately. As a part of the survey in the first 30 mins you will be asked to write different ways to measure creativity for short fiction writing along the four scales mentioned above. For each scale we ask you to write (atleast 3 and atmost 5) ways on how you can empirically measure it especially in the context of fiction/non-fiction writing. We ask you to be objective and think empirically and at the same time be succinct (1/2 sentences).<br><br>
            Once you have finished this you will enter your name and click submit and will be shown a piece of literay fiction (2500 words). We want you to read the story and then hit the back button on your browser, think about your written answers and if possible revise some of these and enter submit again<br><br><br>
            <button type="submit" class="btn btn-primary mt-3">Enter</button></p>
        </form>
    </div>
</body>
</html>